<div class="toolbar" role="banner">
  <mat-icon class="logo">assignment_ind</mat-icon>
  <span>Pesquisa</span>
  <div class="spacer"></div>
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item (click)="clearData()">Limpar Dados</button>
    <button mat-menu-item>Exportar</button>
  </mat-menu>
  <button mat-icon-button [matBadge]="usersCount" matBadgePosition="below before" matBadgeColor="accent" color="primary" id="user-list" [matMenuTriggerFor]="appMenu" aria-label="Lista das respostas">
    <mat-icon>account_box</mat-icon>
  </button>
</div>

<div *ngIf="showUser" class="content" role="main">

  <h2>Perfil</h2>
  <p>Insira as informações abaixo:</p>

  <app-user-info [(user)]="userInfo" (keyUp)="keyup()"></app-user-info>

  <div class="card-container">
    <a class="card" target="_blank" rel="noopener" href="#" (click)="initQuestions()">
      <mat-icon class="material-icons">assignment</mat-icon>
      <span>Ir para as perguntas</span>
      <mat-icon class="material-icons">keyboard_arrow_right</mat-icon>
    </a>

  </div>

</div>

<div *ngIf="showQuestions" class="content" role="questions">
  <div *ngFor="let quest of questions; index as idx;">
    <app-question *ngIf="idx === lastQuestion" [question]="quest.question" [answers]="quest.answers" [(answer)]="actualAnswer" (answered)="changeAnswer()">
    </app-question>
  </div>

  <div class="card-container">
    <a class="card" target="_blank" rel="noopener" *ngIf="lastQuestion > 0" href="#" (click)="prevQuestion()">
      <mat-icon class="material-icons">arrow_left</mat-icon>
      <span>Pergunta Anterior</span>
      <mat-icon class="material-icons">keyboard_arrow_right</mat-icon>
    </a>

    <a class="card" target="_blank" rel="noopener" href="#" (click)="showUserInfo()">
      
      <mat-icon class="material-icons">person</mat-icon>
      <span>Voltar para perfil</span>
      <mat-icon class="material-icons">keyboard_arrow_right</mat-icon>
    </a>

    <a class="card" target="_blank" rel="noopener" *ngIf="lastQuestion < (questions.length - 1)" href="#"
      (click)="nextQuestion()">
      <mat-icon class="material-icons">arrow_right</mat-icon>
      <span>Próxima pergunta</span>
      <mat-icon class="material-icons">keyboard_arrow_right</mat-icon>
    </a>

    <a class="card" target="_blank" rel="noopener" *ngIf="lastQuestion === (questions.length - 1)" href="#"
      (click)="showResult()">
      <mat-icon class="material-icons">assessment</mat-icon>
      <span>Mostrar resultado</span>
      <mat-icon class="material-icons">keyboard_arrow_right</mat-icon>
    </a>

  </div>
</div>

<div *ngIf="showFinalResult" class="content" role="result">
  <app-result [(user)]="userInfo" [(answers)]="answers"></app-result>
  <div class="card-container">
    <a class="card" target="_blank" rel="noopener" href="#" (click)="reInitAll()">
      <mat-icon class="material-icons">assignment</mat-icon>
      <span>Iniciar Nova Pesquisa</span>
      <mat-icon class="material-icons">keyboard_arrow_right</mat-icon>
    </a>
  </div>
</div>